html, body {
    height: 100%;
}
.green-banner {
    background-color: #18813A;
}
.border {
    border: rgba(255,255,255,0.5) 1px solid;
    border-radius: 10rem;
}
.menu-active {
    color: #18813A !important;
    background-color: white;
    border-radius: 10rem;
}
#checkpoint-container {
    background-color: white;
    box-shadow: #2E2E2E 0 0 5px;
    border-radius: 44px;
    margin-left: 1.5rem;
    width: 90%;
    transition: all ease 1s;
    display: none;
    opacity: 0;
}
.color-green {
    color: #18813A;
}